django==2.0
Pillow
django-crispy-forms
django-import-export
django-reversion
django-formtools
future==0.15.2
httplib2==0.9.2
six==1.10.0
django-pure-pagination
django-simple-captcha
mysqlclient
requests
xlrd
XlsxWriter
xlwt